#root {
  margin: 0 auto;
  /* text-align: center; */
  overflow: hidden;
}

#image {
  position: relative;
  max-width: 70%;
  max-height: 80%;
  width: auto;
  height: auto;
  padding: 4%;
  background-color: white;
  box-shadow: -10px 10px 50px 2px rgba(0,0,0);
  margin-right: 5%;
}

#imageContainer {
  position: absolute;
  left:10%;
  top:0%;
  width:80%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right {
  top: calc(50% - 20px);
  position: absolute;
  right: 50px;
  height:48px;
  width: 48px;
  transform: rotate(45deg);
  border-radius: 0;
  border-style: solid solid none none;
  border-color: white;
  border-width: 10px;
  background: transparent;
  outline: none;
  z-index: 2;
}
#left {
  top: calc(50% - 20px);
  position: absolute;
  left: 50px;

  height:48px;
  width: 48px;
  transform: rotate(45deg);
  border-radius: 0;
  border-style: none none solid solid;
  border-color: white;
  border-width: 10px;
  background: transparent;
  outline: none;
  z-index: 2;
}
#caption {
  background-image: url("assets/images/caption.png");
  background-size: cover;
  height:100px;
  width:150px;
  border-radius:0px;
  box-shadow: 10px 10px 50px 2px rgba(0,0,0);
  outline: none;
  z-index:1;
}

#viewBackground {
  animation: background_shift;
  animation-duration: 0.5s;
}

@keyframes background_shift {
  from {background-color: white; }
  to {background-color: #292929;}
}
/* ANIMATIONS */
@keyframes right_image_exit {
  0% {left:10%}
  100% {left:calc(-1 * (63% + 150px) + 10%)}
}

@keyframes left_image_exit {
  0% {left:10%}
  100% {left: calc(104%)}
}

@keyframes right_image_enter {
  0% {left: calc(100% + 4%)}
  100% {left: 10%}
}

@keyframes left_image_enter {
  0% {left: calc(-150px + (-1 * 58%)) }
  100% {left: 10%}
}
/* END OF ANIMATIONS */

#toplight {
  position: absolute;
  width: 50%;
  height:112%;
  left:calc(20%);
  top:0px;
  opacity:0.5;
  z-index:0;
}

.footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align:left;
  display:flex;
  align-items: center;
  padding-bottom: 1%;
}

#sitename {
  font-size:12px;
  color:#9E9E9E;
  margin: 1% 2% 1% 5%;
}