#root {
  margin: 0 auto;
  text-align: center;
}

#image {
  position: absolute;
  left:20%;
  max-width: 35vw;
  height:auto;
  padding: 4%;
  background-color: rgb(250, 250, 250);
  box-shadow: -10px 10px 50px 2px rgba(0,0,0);
}

#body {
  display:flex;
  align-items: center;
  justify-content: center;
}

#right {
  top: calc(50% - 20px);
  position: absolute;
  right: 50px;
  height:48px;
  transform: rotate(45deg);
  border-radius: 0;
  border-style: solid solid none none;
  border-color: white;
  border-width: 10px;
  background: transparent;
  outline: none;
  z-index: 2;
}
#left {
  top: calc(50% - 20px);
  position: absolute;
  left: 50px;

  height:48px;
  transform: rotate(45deg);
  border-radius: 0;
  border-style: none none solid solid;
  border-color: white;
  border-width: 10px;
  background: transparent;
  outline: none;
  z-index: 2;
}
#caption {
  position: absolute;
  left:68%;
  background-image: url("assets/images/caption.png");
  background-size: cover;
  height:100px;
  width:150px;
  border-radius:0px;
  margin-top: 8%;
  box-shadow: 10px 10px 50px 2px rgba(0,0,0);
  outline: none;
  z-index:1;
}

/* ANIMATIONS */
@keyframes right_image_exit {
  0% {left:20%}
  100% {left:calc(-1 * (68% + 150px) + 20%)}
}

@keyframes right_caption_exit {
  0% {left: 68%}
  100% {left:-150px}
}

@keyframes right_toplight_exit {
  0% {left: calc(10% + (35vw)/2)}
  100% {left: calc(35% - (68% + 150px))}
}
@keyframes left_image_exit {
  0% {left:20%}
  100% {left: calc(104%)}
}

@keyframes left_caption_exit {
  0% {left: 68%}
  100% {left: calc(68% + 84%)}
}

@keyframes left_toplight_exit {
  0% {left: calc(10% + (35vw)/2)}
  100% {left: calc(35% + 84%)}
}

@keyframes right_image_enter {
  0% {left: calc(100% + 4%)}
  100% {left: 20%}
}

@keyframes right_caption_enter {
  0% {left: calc(153%)}
  100% {left: 68%}
}

@keyframes right_toplight_enter {
  0% {left: calc(120%)}
  100% {left: calc(10% + (35vw)/2)}
}

@keyframes left_image_enter {
  0% {left: calc(-150px + (-1 * 48%)) }
  100% {left: 20%}
}

@keyframes left_caption_enter {
  0% {left: -150px}
  100% {left: 68% }
}

@keyframes left_toplight_enter {
  0% {left: calc(35% - (68% + 150px))}
  100% {left: calc(10% + (35vw)/2)}
}
/* END OF ANIMATIONS */

#toplight {
  position: absolute;
  width: 30%;
  height:100%;
  left:calc(10% + (35vw)/2);
  top:0px;
  opacity:0.5;
  z-index:0;
}

.footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  text-align:left;
  display:flex;
  align-items: center;
}

#sitename {
  font-size:12px;
  margin-left:2%;
  margin-right:1%;
  color:#9E9E9E;
}