.page {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 500px;
      padding: 0 20px;
      
      left: 50%;
      transform: translate(-50%, 0);

      background-color: #f7f7ff;

      overflow: hideen;

      display: flex;
      flex-direction: column;
}

.titleWrap {
      display: flex;
      margin-top: 87px;
      font-size: 26px;
      font-weight: 700;
      color: #262626;
}

.contentWrap {
      margin-top: 26px;
      flex: 1;
}

.inputTitle {
      display: flex;
      font-size: 12px;
      font-weight: 600;
      color: #262626;
}

.inputWrap {
      display: flex;
      border-radius: 8px;
      padding: 16px;
      margin-top: 8px;
      background-color: white;
      border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
      border: 1px solid #ea4c89;;
}

.input {
      width: 100%;
      outline: none;
      border: none;
      height: 17px;
      font-size: 14px;
      font-weight: 400;
}

.input::placeholder {
      color: #dadada;
      font-size: 13px;
}

.errorMessageWrap {
      margin-top: 8px;
      color: #ef0000;
      font-size: 12px;
      display: flex;
}

.bottomButton {
      width: 100%;
      margin-top: 19px;
      height: 48px;
      border: none;
      font-weight: 700;
      background-color: #ea4c89;
      border-radius: 64px;
      color: white;
      margin-bottom: 17px;
}

.bottomButton:disabled {
      background-color: #dadada;
      color: white;
}