body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

.my-container {
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(15, 15, 18, 0.35);
}

#popup {
  background-color: white;
  position: Absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  height: 80lvh;
  width: 75lvw;
  min-height: 35rem;
  min-width: 50rem;
  border-radius: 1.5rem;
  text-align: center;
}

#content-container {
  height: 100%;
  width: 100%;
}

#photo-container {
  height: 100%;
  width: 70%;
  /* aspect-ratio: 1/1; */
}

#input-container {
  flex-direction: column;
  margin: 3rem;
  margin-top: 3rem;
  height: calc(100% - 3rem);
  width: 30%;
}

#button-container {
  margin-left: 3rem;
  margin-top: -1rem;
  justify-content: left;
  height: 8rem;
  padding: 1rem 0;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 4rem);
  width: 100%;
  margin: 3rem;
  border: 2px dotted black !important;
  border-radius: 1rem;
}

.photo-upload:hover {
  border: 2px dashed black !important;
}

.photo-upload:hover #upload-symbol {
  transform: scale(110%);
  filter: invert(87%) sepia(24%) saturate(4273%) hue-rotate(352deg)
    brightness(113%) contrast(98%);
}

.photo-upload #upload-symbol {
  transition: all 0.3s;
}

#uploader {
  display: none;
}

#upload-symbol {
  height: 5rem;
  user-select: none;
}

.photo {
  height: 0;
  min-height: 100%;
  width: 100%;
  object-fit: cover !important;
  border-radius: 1rem;
}

#photo-container label:hover {
  cursor: pointer;
}

#button-container button {
  background-color: transparent;
  margin: auto 1rem;
  padding: 5px 15px;
  border: 2px dashed transparent;
  border-radius: 10px;
  user-select: none;
}

#button-container button:hover {
  border: 2px dashed black;
}

#input-container * {
  border-radius: 5px;
}

#input-container label {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

#input-container input,
textarea {
  margin: 1rem 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding: 0.25rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

#desc {
  height: 100%;
  line-height: 140%;
  margin-bottom: 1rem;
}

#close_button {
  top: 0;
  
}